@font-face {
			font-family: "Georgia";
			src: url("../fonts/Georgia/Georgia.eot");
			src: url("../fonts/Georgia/Georgia.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Georgia/Georgia.woff") format("woff"),
			url("../fonts/Georgia/Georgia.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
@font-face {
			font-family: "OpenSans";
			src: url("../fonts/OpenSans/OpenSans.eot");
			src: url("../fonts/OpenSans/OpenSans.eot?#iefix")format("embedded-opentype"),
			url("../fonts/OpenSans/OpenSans.woff") format("woff"),
			url("../fonts/OpenSans/OpenSans.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}
::-webkit-scrollbar-track {
background-color:transparent;
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 3px;
border-radius: 6px;
background-color:#8f5db7;
}
::-webkit-scrollbar-thumb:hover{
background-color:#64318d;
}
::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}
::-webkit-scrollbar{
width: 7px;
}
@-ms-viewport{ width: device-width;}
body{
	font-family: "OpenSans";
	color: rgba(0, 0, 0, .6);
}
.fon{
	z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment: scroll;
  background-image: url(/img/ulibka_fon.jpg);
}
.container-fluid{
	padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.home{
	background: #faf5ed;
}
.shadow{
	box-shadow: 0 0 4px rgba(0, 0, 0, .4);
}
.header{
	background: #8f5db7;
	padding-top: 1%;
	padding-bottom: 1%;
}
.logo{
	max-width: 200px;
	max-height: 100px;
	width: auto\9;
/*
	font-size: 65px;
	color: #fff;
*/
}
.tel{
	font-size: 18px;
	text-align: right;
}
a.mobile_tel{
	position: relative;
	color: #fff;
	display: block;
}
a.mobile_tel:hover{
	text-decoration: none;
}
.mail{
	color: #fff;
	position: relative;
}
.mobile_tel>span.glyphicon-earphone{
	top: 16px;
}
.mobile_tel>span.glyphicon-earphone,.mail>span.glyphicon-envelope{
	position: absolute;
	right: 180px;
}
.mobile_tel>span.glyphicon-earphone{
	right: 130px;
	
}

.navbar{
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-default{
	border: none;
	background: none;
	margin-bottom: 20px;
	margin-top: 20px;
}
.navbar-collapse{
	padding-right: 0px;
    padding-left: 0px;
}
.navbar-nav{
	width: 100%;
}
.navbar-toggle{
	background-color: #8f5db7;
	
}
.navbar-toggle:focus{
	padding-bottom: 17px;
}
.navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:focus{
	background-color: #8f5db7;
	color: #fff;
	border-radius: 5px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #8f5db7;
	opacity: 0.7;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #faf5ed;
	-webkit-transition: 0.5s linear;
}
.navbar-default .navbar-toggle:focus .icon-bar-up{
    -webkit-transform: rotate(65deg);
	left: 16px;
	top: 10px;
	width: 15px;
	position: absolute;
	-webkit-transition: 0.5s linear;
}
.navbar-default .navbar-toggle:focus .icon-bar-center{
    -webkit-transform: rotate(90deg);
	left: 10px;
	top: 15px;
	-webkit-transition: 0.5s linear;
}
.navbar-default .navbar-toggle:focus .icon-bar-down{
    -webkit-transform: rotate(-65deg);
	left: 10px;
	top: 6px;
	width: 15px;
	position: absolute;
	-webkit-transition: 0.5s linear;
}
.menu_fon{
	background: #faf5ed;
}
.menu{
	font-size: 18px;
	border-radius: 5px;
}
.menu:hover{
	background: #8f5db7;
	transition: 0.4s linear;
}
.navbar-default .navbar-nav>li.menu>a:hover{
	color: #fff;
}

.item{
	background: #8f5db7;
	max-height: 560px;
}
.item>img{
	width: 100%;
	min-height: 280px;
}

.carousel-indicators li{
	width: 50px;
	height: 2px;
	border-radius: none;
}
.carousel-indicators .active{
	width: 50px;
	height: 4px;
}
.carousel-control.left{
	background-image: none;
}
.carousel-control.right{
	background-image: none;
}
a.carousel-control>.glyphicon-chevron-left,a.carousel-control>.glyphicon-chevron-right{
	color: 	#8f5db7;
}

.services{
	background: #faf5ed;
}
.servic_clinic{
	text-align: center;
	font-size: 34px;
}
.servic_clinic_you{
	text-align: center;
	display: block;
	font-size: 18px;
}
.servic{
	padding: 40px 20px 0 90px;
	font-size: 18px;
	font-weight: bold;
}
.servic>span{
	display: block;
	font-size: 14px;
	font-weight: 400;
}
.servic:after{
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: 	#8f5db7 url(../img/sprite2.png);
	background-position: -197px -5px;
	top: 45px;
	left: 0px;
}
.servic+div:after{
	background-position: -58px -5px; 
}
.servic+div+div:after{
	background-position: -85px -90px;  
}
.servic+div+div+div:after{
	background-position: -130px -7px;
}
.servic+div+div+div+div:after{
	background-position: -182px -93px; 
}
.servic+div+div+div+div+div:after{
	background-position: 3px 0px;
}
.servic+div+div+div+div+div+div:after{
	background-position: -18px -167px;
}
.servic+div+div+div+div+div+div+div:after{
	background-position: -2px -80px;      
}
.servic+div+div+div+div+div+div+div+div:after{
	background-position: -102px -162px;
}

.digits{
	padding: 40px 0 40px 0;
	color: #fff;
}
.pride{
	text-align: center;
	display: block;
	font-size: 54px;
	font-weight: bold;
}
.dig{
	font-family: "Georgia";
	text-align: center;
	font-size: 70px;
	margin-top: 20px;
	font-weight: bold;
}
.dig>span{
	font-family: "OpenSans";
	display: block;
	text-align: center;
	font-size: 18px;
}

.specialists{
	text-align: center;
	padding: 40px 0 40px 0;
	background: #faf5ed;
}
.special{
	font-size: 34px;
}
.spec{
	display: block;
	font-size: 18px;
	margin-bottom: 20px;
}
.carousel-el{
	position: relative;
	margin-top: 20px;
}
.carousel-el>img{
	box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	width: 100%;
}
.carousel-el>a>p{
	position: absolute;
	width: 80%;
	height: 60px;
	left: 10%;
	background: #8f5db7;
	opacity: 0.8;
	bottom: 0px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	color: #fff;
	transition: 0.2s linear;
	z-index: 2;
	padding-top: 20px;
}
.carousel-el>a>p:hover{
	background: 	#8f5db7;
	opacity: 0.7;
	transition: 0.2s linear;
	font-size: 19px;
	width: 100%;
	left: 0%;
}

.ouer-clinic{
	background: 	#8f5db7;
	padding: 40px 0 40px 0;
	color: #fff;
}
.clinic{
	font-size: 34px;
	text-align: center;
}
.clinic>span{
	text-align: justify;
	display: block;
	font-size: 18px;
	font-weight: 500;
	margin: 20px 0 20px 0;
}
.clinic>p{
	text-align: justify;
	font-size: 18px;
	font-weight: 500;
	padding-left: 30px;
	position: relative;
}
.clinic>p:before{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	left: 0px;
	top: 8px;
}
.certif{
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
	transition: .4s linear;
}
.certif:hover{
	transform: scale(2);
	transition: .4s linear;
	z-index: 2;
}

.reviews{
	padding: 40px 0 40px 0;
	text-align: center;
	background: #faf5ed;
}
.review{
	font-size: 34px;
	font-weight: bold;
}
.nav>li>a:hover {
    background-color: transparent;
}
.nav-tabs>li>a:hover {
  border-color: transparent;
}
.container_reviews>.nav_tabs_reviews>li.active>a,
.container_reviews>.nav_tabs_reviews>li.active>a:hover,
.container_reviews>.nav_tabs_reviews>li.active>a:focus {
  cursor: pointer;
  background-color: #faf5ed;
  border: 1px solid #faf5ed;
}
.nav_tabs_reviews>li>a {
    padding: 0px 0px;
}
.nav_tabs_reviews>li{
	margin: 20px 40px 20px 40px;
	width: 200px;
	position: relative;
}
.nav-tabs>li.active>a.reviews_foto,.nav-tabs>li.active>a.reviews_foto:hover{
	margin: 10px;
	background: none;
}
.reviews_foto>img{
	border-radius: 50%;
}
.container_reviews>.tab_content_reviews{
	margin-top: 20px;
	background: 	#8f5db7;
	position: relative;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}

.contacts{
	background: #8f5db7;
	padding: 40px 0 40px 0;
	color: #fff;
}
.contact>p{
	display: block;
}
.contact{
	font-size: 34px;
	font-weight: bold;
}
.contact>p{
	font-size: 18px;
	font-weight: 500;
}
.contact>div{
	font-size: 18px;
	font-weight: 500;
}
.tip,.tip1,.tip2{
	display: block;
	font-size: 18px;
	color: #fff;
	font-weight: 100;
}
.tip:hover{
	color: #fff;
	text-decoration: none;
}
.tip1:hover{
	color: #fff;
	text-decoration: none;
}
.tip2:hover{
	color: #fff;
	text-decoration: none;
}
.tip1,.tip2{
	margin-left: 44px;
}
.glyphicon{
	color: #fff;
	margin-right: 20px;
	font-size: 24px;
}
.time{
	text-align: right;
	font-size: 34px;
	font-weight: bold;
}
.time>p{
	font-size: 18px;
	font-weight: 500;
}
.social{
	margin-top: 20px;
}
.social>a>img{
	width: 42px;
	-webkit-transition: 0.1s linear;
}
.social>a>img:hover{
	width: 42px;
	-webkit-transform: scale(1.2);
	-webkit-transition: 0.1s linear;
}
.pluso{
	margin-top: 40px;
	margin-right: 15%;
}
.form{
	margin-top: 40px;
	text-align: center;
	background: #8f5db7;
}
form{
	margin: 20px 0 40px 0;
}
.form>p{
	margin-top: 20px;
	font-size: 24px;
	color: #fff;
}
form>input{
	min-width: 230px;
	height: 40px;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
}
form>input.feedback {
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 7px;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
form>input.feedback:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
form>input.feedback:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

#map{
	height: 400px;
	width: 100%;
}

.footer{
	background: 	#8f5db7;
	padding: 20px 0 20px 0;
	text-align: left;
	color: #fff;
}
.glyphicon-copyright-mark{
	font-size: 13px;
	margin-right: 6px;
	font-weight: 100;
}
.name{
	text-align: right;
}
.line{
	height: 20px;
	background: 	#8f5db7;
}

.aboutus{
	padding: 20px 0 40px;
	
	margin-bottom: 40px;
}
.about{
	text-align: justify;
}
.about_foto{
	padding-top: 30px;
}
.us_foto_big{
	padding-right: 0px;
	padding-left: 0px;
}
.us_foto_small{
	padding-right: 0px;
	padding-left: 0px;
	padding: 20px 5px 0 5px;
}
.cer{
	border-top: 1px solid 	#8f5db7;
	margin-bottom: 40px;
	padding-top: 20px;
}

.services{
	padding: 0px 0 40px 0;
	font-size: 34px;
}
.services-page{
   background: #fff; 
}
.services-one{
	border-bottom: none;
	padding-right: 0px;
	border-radius: 0;
}
.services-one>a{
	height: 50px;
}
.services-one>li.services-two{
	width: 250px;
	margin-top: 0px;
}
.dropdown-menu{
	position: relative;
	padding: 0px;
	border-radius: 0;
	border: none;
	padding-top: 2px;
	margin-bottom: 5px;
	width: 250px;
	box-shadow: none;
}
.dropdown-menu>li>a{
	margin-top: 2px;
}
.dropdown-menu>li>a:hover{
	background: 	#8f5db7;
	border-radius: 0;
	color: #fff;
}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover{
	background: #8f5db7;
	
}
.nav.open>a,.nav.open>a.dropdown-toggle:focus,.nav.open>a:hover{
	background-color: #8f5db7;
	border-color: #8f5db7;
}
.services-content,.tab-content{
	text-align: justify;
	margin: 0 0 0 -10px;
	width: 75%;
	padding-left: 0px;
	padding-right: 0px;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{
	background: #8f5db7;
	border: none;
	border-bottom: none;
	color: #fff;
}
.services-one>li>a{
	border: none;
	color: rgba(0, 0, 0, .6);
	height: 50px;
	margin: 1px 0 1px 0;
	transition: 0.2s linear;
	padding-top: 15px;
}
.services-one>li>a:hover{
	background: 	#8f5db7;
	color: #fff;
/*
	height: 60px;
	font-size: 18px;
*/
	transition: 0.2s linear;
}
.new{
	text-align: right;
	background: 	#8f5db7;
}
.strong{
	font-size: 24px;
	margin-bottom: 20px
}
.services_content_foto{
	text-align: center;
}
.services_foto{
	padding: 10px;
}
.footer_services{
	margin-top: 20px;
}
.kinds{
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
}

#hypercomments_widget{
	background: 	#8f5db7;
	margin: 40px 0 40px 0;
	border-radius: 10px;
}
div.hc__messages>.hc__message{
	border-top: 10px solid #fff;
	margin-bottom: 40px;
	background: #fff;
	border-radius: 10px;
	padding-left: 20px;
}
div.hc__message>.hc__avatar>img{
	left: 10px;
	
}
div.hc__footer>a.hcc,.hc__footer__logo>svg{
	display: none !important;
}
.hc__right>div.hc__footer{
	margin-top: 0px;
}

.reviews_page{
	font-size: 34px;
	margin: 40px 0 20px 0;
}
.reviews_small{
	font-size: 16px;
}

.specialists_page{
	margin: 40px 0 40px 0;
}
.special_page{
	text-align: left;
}
.spec_page{
	text-align: left;
	margin: 20px 0 20px 0;
}
.specialist_page{
	margin-top: 40px;
	border-top: 2px solid 	#8f5db7;
}
.specialist_foto{
	margin-top: 30px;
}
.specialist_info{
	text-align: justify;
	padding-left: 0px;
	padding-right: 0px;
}
.specialist_name{
	font-size: 24px;
	margin: 0px 0 20px 0;
	text-align: center;
}
.specialist_name>p{
	text-align: center;
	font-size: 18px;
	margin-top: 10px;
}
.specialist_education{
	font-size: 20px;
	margin-bottom: 10px;
}
.specialist_info>p{
	font-size: 17px;
}

.price{
	margin-top: 40px;
	margin-bottom: 40px;
}
.price>div{
	font-size: 22px;
	text-align: center;
}
.price>p:hover{
	 background: 	#8f5db7;
	color: #fff;
}
.price>ul>li:hover{
	 background: 	#8f5db7;
	color: #fff;
}

.shares_social{
	background: #8f5db7;
	text-align: center;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 44px;
	color: #fff ;
	padding: 40px;
	margin: 40px 0 40px 0;
	position: relative;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
}
.shares_social:before, .shares_social:after{
z-index: -1;
 position: absolute;
 content: "";
 bottom: 15px;
 left: 10px;
 width: 40%;
 top: 80%;
 background: rgba(0, 0, 0, 0.4);
 -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.4);
 -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
 box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
 -webkit-transform: rotate(-3deg);
 -moz-transform: rotate(-3deg);
 -o-transform: rotate(-3deg);
 -ms-transform: rotate(-3deg);
 transform: rotate(-3deg);
	-webkit-transition: 0.3s ease-out;
}
.shares_social:after{
 -webkit-transform: rotate(3deg);
 -moz-transform: rotate(3deg);
 -o-transform: rotate(3deg);
 -ms-transform: rotate(3deg);
 transform: rotate(3deg);
 right: 10px;
 left: auto;
}
.shares_social:hover.shares_social:before{
z-index: -1;
 position: absolute;
 content: "";
 bottom: 30px;
 left: 10px;
 width: 40%;
 top: 80%;
 background: rgba(0, 0, 0, 0.4);
 -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.4);
 -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
 box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
 -webkit-transform: rotate(3deg);
 -moz-transform: rotate(3deg);
 -o-transform: rotate(3deg);
 -ms-transform: rotate(3deg);
 transform: rotate(3deg);
 -webkit-transition: 0.6s ease-out;
}
.shares_social:hover.shares_social:after{
 -webkit-transform: rotate(-3deg);
 -moz-transform: rotate(-3deg);
 -o-transform: rotate(-3deg);
 -ms-transform: rotate(-3deg);
 transform: rotate(-3deg);
 bottom: 30px;
 right: 10px;
 left: auto;
	-webkit-transition: 0.6s ease-out;
}
.shares_social>span{
	z-index: -1;
	position:absolute;
    top:50%;
    bottom:0px;
    left:30px;
    right:30px;
	-webkit-transition: 0.4s ease-out;
}
.shares_social:hover.shares_social>span{
    -webkit-box-shadow:0 0 15px 10px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 15px 10px rgba(0,0,0,0.4);
    box-shadow:0 0 15px 10px rgba(0,0,0,0.4);
    -moz-border-radius:300px / 20px;
    border-radius:300px / 20px;
	-webkit-transition: 0.4s ease-out;
}

.pensioners{
	position: relative;
	margin: 40px 0 40px 0;
	-moz-border-radius: 5px;
}
.pensioners:before,.pensioners:after{
z-index: -1;
 position: absolute;
 content: "";
 bottom: 15px;
 left: 10px;
 width: 40%;
 top: 80%;
 background: rgba(0, 0, 0, 0.4);
 -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.4);
 -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
 box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
 -webkit-transform: rotate(-3deg);
 -moz-transform: rotate(-3deg);
 -o-transform: rotate(-3deg);
 -ms-transform: rotate(-3deg);
 transform: rotate(-3deg);
	-webkit-transition: 0.3s ease-out;
}
.pensioners:after{
 -webkit-transform: rotate(3deg);
 -moz-transform: rotate(3deg);
 -o-transform: rotate(3deg);
 -ms-transform: rotate(3deg);
 transform: rotate(3deg);
 right: 10px;
 left: auto;
}
.pensioners:hover.pensioners:before{ 
 position: absolute;
 content: "";
 bottom: 30px;
 left: 10px;
 width: 40%;
 top: 80%;
 background: rgba(0, 0, 0, 0.4);
 -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.4);
 -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
 box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
 -webkit-transform: rotate(3deg);
 -moz-transform: rotate(3deg);
 -o-transform: rotate(3deg);
 -ms-transform: rotate(3deg);
 transform: rotate(3deg);
 -webkit-transition: 0.6s ease-out;
}
.pensioners:hover.pensioners:after{
 -webkit-transform: rotate(-3deg);
 -moz-transform: rotate(-3deg);
 -o-transform: rotate(-3deg);
 -ms-transform: rotate(-3deg);
 transform: rotate(-3deg);
	bottom: 30px;
 right: 10px;
 left: auto;
	-webkit-transition: 0.3s ease-out;
}
.pensioners>span{
z-index: -1;
	position:absolute;
    top:50%;
    bottom:0px;
    left:30px;
    right:30px;
	-webkit-transition: 0.4s ease-out;
}
.pensioners:hover.pensioners>span{
 -webkit-box-shadow:0 0 15px 10px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 15px 10px rgba(0,0,0,0.4);
    box-shadow:0 0 15px 10px rgba(0,0,0,0.4);
    -moz-border-radius:300px / 20px;
    border-radius:300px / 20px;
	-webkit-transition: 0.4s ease-out;
}
.pensioners>img{
	width: 100%;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
}
.social_icon{
	text-align: center;
}
.social_icon>a>img{
	width: 80px;
	margin: 30px 30px 0 30px;
	-webkit-transition: 0.1s linear;
}
.social_icon>a>img:hover{
	-webkit-transform: scale(1.2);
	-webkit-transition: 0.1s linear;
}
a.winter_share{
	width: 200px;
	height: 430px;
	position: fixed;
	top: 200px;
	right: 0px;
	margin-right: -285px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-o-transition: .3s linear;
	transition: .3s linear;
	text-decoration: none;
}
.winter_share>p{
	color: #fff;
	font-size: 20px;
	background: red;
	height: 30px;
	text-align: center;
	border-radius: 5px;
}
.winter_share>img{
	position: absolute;
	width: 285px;
	top:80px;
	left: -43px;
	border-radius: 5px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.winter_share:hover{
	margin-right: 0px;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-o-transition: .3s linear;
	transition: .3s linear;
}
@media (max-width: 6800px){
	.line_contact{
		height: 0px;
	}
}
@media (max-width: 1200px){
	.services-content,.tab-content{
		margin-left: 40px;
		width: 70%;
}
	.nav_tabs_reviews>li{
		margin: 20px 15px 20px 15px;
	}
	.servic_font{
		font-size: 16px;
	}
	.carousel-el>a>p:hover{
		font-size: 18px;
	}
}
@media (max-width: 992px){
	.menu{
		font-size: 13px;
	}
	.navbar-default{
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.services-content,.tab-content{
		margin-left: 90px;
		width: 60%;
}
	.nav_tabs_reviews>li{
		margin: 20px -10px 20px -10px;
	}
	.carousel-el>a>p{
		padding-top: 10px;
	}
	.carousel-el>a>p:hover{
		padding-top: 6px;
	}
}
@media (min-width: 400px) and (max-width: 768px){
	.carousel-el>a>p{
		padding-top: 20px;
	}
	.carousel-el>a>p:hover{
		padding-top: 20px;
	}
}
@media (min-width: 260px) and (max-width: 768px){
	.services-content,.tab-content{
		margin-left: 0px;
		margin-top: 20px;
		width: 100%;
}
	.navbar-default{
	margin-bottom: 0px;
	margin-top: 0px;
}
	.menu{
		padding-left: 10px;
	}
	.reviews{
		display: none;
	}
	.contacts, .time{
	background: #faf5ed;
	color: rgba(0, 0, 0, .6);
		text-align: center;
}
	.social{
		margin-right: 0px;
	}
	.glyphicon{
	color: 	#8f5db7;
}
	.glyphicon-copyright-mark{
	color: #fff;
	}
	.mobile_tel>span.glyphicon-earphone,.mail>span.glyphicon-envelope{
		display: none;
	}
	.uvi,.name{
		padding-left: 0px;
		padding-right: 0px;
	}
	.strong{
		text-align: center;
		font-size: 20px;
	}
	.tab-pane>p{
		font-size: 12px;
	}
	.spec{
	font-size: 16px;
}
	.specialist_name>p,.specialist_name{
		text-align: center;
	}
	.specialist_name{
		font-size: 20px;
	}
	.specialist_name>p{
		font-size: 16px;
	}
	.line_contact{
		height: 20px;
	}
	.clinic{
	padding-left: 0px;
	padding-right: 0px;
}
	.services{
	margin: 0px 0 0px 0;
	}
	.pride{
		font-size: 40px;
	}
	.digits{
	padding: 10px 0 10px 0;
	}
	.dig{
	margin-top: 0px;
		font-size: 35px;
	}
	.ouer-clinic{
	padding: 10px 0 10px 0;
}
	.form{
		margin-top: 0px;
	}
	.tip,.tip1,.tip2{
	color: rgba(0, 0, 0, .6);
}
	.tip:hover{
	color: rgba(0, 0, 0, .6);
}
	.tip1:hover{
	color: rgba(0, 0, 0, .6);
}
	.tip2:hover{
	color: rgba(0, 0, 0, .6);
}
	.shares_social{
		font-size: 20px;
	}
}
@media (max-width: 400px){
	.logo{
		width: 110px;
	}
	.tel{
	font-size: 10px;
}
	.contacts{
		text-align: center;	
	}
	.contact{
		font-size: 26px;
	}
	.contact>p{
		font-size: 15px;
	}
	.contact>a{
		font-size: 15px;
	}
	.container_contacts{
		padding-left: 0px;
		padding-right: 0px;
	}
	.glyphicon{
		font-size: 18px;
	}
	.time{
	text-align: center;
	font-size: 26px;
	}
	.time>p{
		font-size: 15px;
	}
	.footer{
		font-size: 12px;
		padding: 10px 0 10px 0;
	}
	.glyphicon-copyright-mark{
	font-size: 10px;
	color: #fff;
	}
	.carousel-el>a>p{
		padding-top: 10px;
	}
	.carousel-el>a>p:hover{
	padding-top: 5px;
	}
	.about{
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media (max-width: 280px){
	.services-one>li.services-two{
		width: 220px;
		font-size: 13px;
	}
	.dropdown-menu{
		width: 220px;
		font-size: 12px;
	}
	
	
	
}
